.profile__container {
  width: 120px;
  height: 120px;
  margin: 0 29px 0 0;
  position: relative;
}

@media screen and (max-width: 740px) {
  .profile__container {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__container {
    margin-right: 0;
  }
}